[submodule "Lab3/extern/cpp-dotenv"]
	path = Lab3/extern/cpp-dotenv
	url = https://github.com/adeharo9/cpp-dotenv
[submodule "Lab3/extern/OBJ-Loader"]
	path = Lab3/extern/OBJ-Loader
	url = https://github.com/Staler2019/OBJ-Loader
